.u-center-text {
    text-align: center;
}

 //Elle nous permet de définir très facilement des marges à travers nos pages ce qui permet à nos éléments d'avoir toujours le même espacement entre eux
 // de manière indépendante.
 //Cela permet aussi de garder notre code DRY (Don't Repeat Yourself)
.u-margin-bottom-big {   
    margin-bottom: 8rem;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem;
}
.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}   